$text-block-font-size: 1.275em;

$text-block-font-color: #282D31;
$accent-color: #17BB75;
$base-ui-color: #42474B;
$light-ui-color: #CCCCCC;
$blocks-control-bg-color: #F7F7F7;
$blocks-control-border-color: #17BB75;
$error-color: #d70014;
$selection-color: #B1F2D6;

$inner-block-padding: 30px 30px 48px 30px;

$block-controls-height: 164px;
$block-add-height: 40px;
$block-controls-color:#9B9B9B;

$border-size: 2px;
$border-style: solid;
$default-border: $border-size $border-style $accent-color;

