$text-block-font-size: 1.275em;

$text-block-font-color: #282D31;
$accent-color: #34E0C2;
$base-ui-color: #42474B;
$light-ui-color: #CCCCCC;
$blocks-control-bg-color: #F3F3F3;
$error-color: #d70014;

$inner-block-padding: 30px 30px 48px 30px;

$block-controls-height: 164px;
$block-add-height: 40px;

