$text-block-font-size: 1.275em !default;

$text-block-font-color: #282d31 !default;
$accent-color: #17bb75 !default;
$base-ui-color: #42474b !default;
$light-ui-color: #ccc !default;
$blocks-control-bg-color: #f7f7f7 !default;
$blocks-control-border-color: #ddd !default;
$error-color: #d70014 !default;
$selection-color: #b1f2d6 !default;

$inner-block-padding: 30px 30px 48px !default;

$block-controls-height: 164px !default;
$block-add-height: 40px !default;
$block-controls-color: #9b9b9b !default;

$border-size: 2px !default;
$border-style: solid !default;
$default-border: $border-size $border-style $accent-color !default;
