.st-outer {
  font-size: 16px;
  position: relative;
  background:#fff;
}

.st-block__inner {
  ::-moz-selection {
    background: $accent-color;
    text-shadow: none;
    color:#fff;
  }
  ::selection {
    background: $accent-color;
    text-shadow: none;
    color:#fff;
  }
}

.st-spinner {
  position: absolute!important;
  left: 50%; top: 50%;
}
