.st-block {
  padding:0;
  position: relative;
}

.st-block__inner {
  padding: 1.875em 1.875em 2.8em;
  border: 2px solid #fff;
  position: relative;
}

.st-block__inner:hover {
  border-color: $accent-color;
}

.st-block--with-errors .st-block__inner,
.st-block--delete-active .st-block__inner  {
  border-color: $error-color;
}

.st-block--with-plus:after,
.st-icon--add:after {
  display: block;
  position: relative; z-index: 1;
  bottom: 0;
}

.st--block-limit-reached .st-block--with-plus:after,
.st--block-limit-reached .st-icon--add:after {
  display: none;
}

.st-icon--add:after {
  text-align: center;
  font-size: 1.875em;
  padding: 0.3em 0;
  line-height: 0.9;
  border-radius: 0.2em;
}

.st-block--with-plus:after {
  background: $blocks-control-bg-color;
  color: $accent-color;
}

.with-st-controls:after,
.with-st-controls:before {
  display:none
}

.st-block.st-drag-over:after,
.st-block.st-drag-over:last-child:after,
.st-block-controls__top.st-drag-over:before {
  font-family:inherit;
  content: "Drop block here";
  text-align: center;
  padding: 0.7em 0;
  font-size: 1.125em;
  font-weight: 700;
  border: 2px dashed #d4d4d4;
  background: transparent;
  color: #d4d4d4;
}

.st-text-block {
  min-height: 3em;
  font-size: $text-block-font-size;
  line-height: 1.45;
}

.st-text-block--heading {
  line-height: 1.1;
  font-size: 2.2em;
  min-height: auto;
  font-weight: 700;
}

ul.st-text-block {
  margin-left: 1.875em;
}

.st-block__inputs {
  padding: 1.6em 0 1em;
  border-radius: 0.2em;
  background: $blocks-control-bg-color;
  border-top: 0.125em solid transparent;
}

.st-block__dropzone .st-icon {
  font-size: 4em;
  color: $base-ui-color;
  display: block;
  text-align: center;
  margin: 0 auto 0.2em;
}

.st-block__dropzone p {
  text-align: center;
  color: $base-ui-color;
  font-size: 1.2em;
  margin: 0;
}

.st-block__dropzone p span {
  font-weight: 700;
}

.st-drag-over .st-block__inputs {
  border-top-color: darken($blocks-control-bg-color, 15%);
}

.st-block .st-block__paste-input[type="text"] {
  text-align: center;
  width: 80%;
  display: block;
  margin: 0.4em auto 0;
}

.st-upload-btn {
  border: 0;
  background: $base-ui-color;
  border-radius: 0.2em;
  padding: 0.35em 1em;
  font-size: 1.125em;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 10;
}

.st-block__upload-container:hover .st-upload-btn {
  background:$accent-color;
}

.st-block__editor--with-square-media {
  padding-top: 100%; /* 16:9 */
  height: 0;
  position: relative;
  width: 100%;
}

.st-block__editor--with-sixteen-by-nine-media {
  padding-top: 56.25%; /* 16:9 */
  height: 0;
  position: relative;
  width: 100%;
}

.st-block__editor--with-square-media video,
.st-block__editor--with-square-media iframe,
.st-block__editor--with-sixteen-by-nine-media video,
.st-block__editor--with-sixteen-by-nine-media iframe {
  height: 100%; width: 100%;
  left: 0; top: 0;
  position: absolute;
}

.st-block__editor img {
  width: 100%; height: auto;
}

.st-block__upload-container {
  margin: 0.4em 0 0 0;
  text-align: center;
}

.st-block__upload-container input[type="file"] {
  position: absolute;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
  left: 0;
  width: 100%;
  padding: 7px 0;
  text-align: center;
}

.st-block__messages {
  display: none;
  position: relative;
  top: -1.9em; left: -1.9em;
  padding: .3em .5em;
  border: 2px solid $accent-color;
  border-left: none; border-top: none;
  max-width: 80%;
}

.st-block__messages--is-visible {
  display: block;
}

.st-block--with-errors .st-block__messages {
  border-color: $error-color;
}

.st-block__messages span {
  display: block;
}

.st-msg--error {
  color: $error-color;
}
