// Block Control

.st--block-limit-reached .st-block-controls__top {
  display: none;
}

.st-block-controls__top:before {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.875em;
  padding: 0.3em 0;
  line-height: 0.9;
  border-radius: 0.2em;
}

.st-block-controls__top:hover:before {
  color: $accent-color;
  background: $blocks-control-bg-color;
}

.st-block-controls {
  background-color: $blocks-control-bg-color;
  display: none;
  border-radius: 0.2em;
  color: $base-ui-color;
  width: 100%;
  text-align: center;
  padding: 1.2em 0;
}

.st-block-controls--active {
  display:block;
}

.st-block-control {
  font-size: 1.125em;
  display: inline-block;
  cursor: pointer;
  margin: 0 1em 0 0;
}

.st-block-control .st-icon {
  font-size: 2.25em;
  margin: 0 0 .2em 0;
  display: block;
}

.st-block-control:hover {
  color: $accent-color;
}