.st-blocks {
  padding-top: 24px;
}

.st-block {
  padding: 0 0 $block-controls-height 0;
  position: relative;
}

.st-block__inner {
  border: 2px solid #fff;
  position: relative;
}

.st-block--active .st-block__inner {
  border-color: $accent-color;
}

.st-block--with-plus:after,
.st-block:last-child:after {
  content: "";
  display: block;
  width: 26px; height: 25px;
  background: url(images/sir-trevor/ui/add.png) no-repeat center center;
  position: absolute; z-index: 1;
  top: 50%; left: 50%;
  margin: ($block-controls-height / 2) 0 0 -13px;
  background: url(images/sir-trevor/ui/add.png) no-repeat center bottom;
}

.st-text-block {
  min-height: 50px;
  font-size: $text-block-font-size;
  line-height: 1.45;
  padding: $inner-block-padding;
}

.st-block__ui {
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 0;
}

.st-block--active .st-block__ui {
  opacity: 1;
}

.st-block__reorder,
.st-block__remove {
  display: block;
  float: left;
  width: 63px; height: 48px;
  line-height: 48px;
  font-size: 20px;
  color: $accent-color;
  text-align: center;
  border: 2px solid $accent-color;
  border-right: 0;
  border-bottom: 0;
  cursor: pointer;
}

.st-block__reorder:hover,
.st-block__remove:hover {
  color: #fff;
  background: $accent-color;
}

.st-block__dropzone {
  padding: 15px 0;
}

.st-block__dropzone .st-icon {
  font-size: 72px;
  color: $base-ui-color;
  display: block;
  width: 120px;
  text-align: center;
  margin: 0pt auto 20px auto;
}

.st-block__dropzone p {
  text-align: center;
  color: $base-ui-color;
  font-size: 22px;
  margin: 0 0 10px 0;
}

.st-block__dropzone p span {
  text-transform: lowercase;
  font-weight: bold;
}

.st-dropzone--dragover p,
.st-dropzone--dragover .st-icon {
  color: $accent-color;
}

.st-block__paste-input {
  color: $light-ui-color;
  text-align: center;
}

.st-upload-btn {
  border: 0;
  background: $base-ui-color;
  color: #fff;
}