.st-block-positioner {
  @include ui-popup;
  right: 4em;
  top: 0;
  &:before {
    left: auto;
    right: -0.3em;
  }
}

.st-block-positioner__inner {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 0.3em 0.5em;
}

.st-block-positioner__select {
  display:block;
}

.st-block--with-errors, .st-block--delete-active {
  & > .st-block__inner {

    & > .st-block__ui {
      .st-block-positioner {
        border-color: $error-color;
        &:after {
          border-color: $error-color;
        }
      }
    }
  }
}
