.st-block-positioner {
  border: 0.125em solid $accent-color;
  position: absolute;
  z-index: 2;
  left: -5.5em; bottom: 0.4em;
  background: #fff;

  visibility: hidden;
  opacity: 0;
  @include transition(opacity 0.2s ease-in-out);
}

.st-block-positioner--is-visible {
  visibility: visible;
  opacity: 1;
}

.st-block-positioner:after {
  content: '';
  display: block;
  width: 0.4em; height: 0.4em;
  position: absolute;
  right: -0.3em; bottom: 0.6em;
  z-index: 1;
  border: 0.125em solid $accent-color;
  background: #fff;

  @include transform(rotate(45deg));
}

.st-block-positioner__title {
  color: $accent-color;
  font-size: 0.7em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid $accent-color;
  padding: 0.5em;
  text-align: center;
}

.st-block-positioner__inner {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 0.3em 0.5em;
}