.st-block__control-ui {
  position: absolute;
  bottom: 0; left: 0;
  opacity: 0;
}

.st-block__inner:hover .st-block__ui,
.st-block__inner:hover .st-block__control-ui {
  opacity: 1;
}

.st-block-ui__confirm {
  color: $error-color;
  border:1px solid $error-color;
  background:none;
  padding: 0.15em .4em;
  margin: 0 0.1em;
  font-size:.9em;
  cursor:pointer;
}

%st-block-ui-btn {
  @extend .st-icon;
  display: block;
  cursor: pointer;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 1em;
  color:$block-controls-color;
}

.st-block-ui-btn__reorder {
  @extend %st-block-ui-btn;
  left: 2em;
  display: none;
  &:hover,
  &:focus {
    color:$accent-color;
  }
}

.st-block-ui-btn__delete {
  @extend %st-block-ui-btn;
  right: 1em;
  top:0;
  font-size:1.5em;
  &:hover,
  &:focus {
    color:$error-color;
  }

  .st-block--textable & {
    display: none;
  }
}

.st-block-control-ui-btn {
  @extend %st-block-ui-btn;
  width: 2em;
  font-size: 1.5em;
  line-height: 1.25em;
  height: 1.25em;
  border: $default-border;
  border-left: 0;
  border-bottom: 0;
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
  color: $error-color;
  border-color: $error-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: $error-color;
  }
}

.st-block__ui-delete-controls {
  @include ui-popup;
  right: 4em;
  top: 0.4em;
  padding: 0.3em .5em;
  border-color:$error-color;

  &:before {
    left:auto;
    right:-0.3em;
    border-color:$error-color;
  }
}

.st-block--with-errors {
  opacity: 1;
  z-index: 2;
}

.st-block__delete-label {
  color: $error-color;
}
