// Block Control

$animation-speed: 0.2s;

.st--block-limit-reached .st-top-controls {
  display: none;
}

.st-top-controls {
  position: relative;
  z-index: 2;
}

.st-block-addition {
  position: absolute;
  text-align: left;
  transform: translateY(-50%);
  outline:none;
  border:none;
  font-size:1.3em;
  display:block;
  width:100%;
  background-color:transparent;
  padding:0;
  left:-1.1em;

  &::-moz-focus-inner {
    padding:0;
    margin:0;
    margin-left:-1px;
  }

}

.st-block-addition__button {
  transition: all $animation-speed ease-in-out;
  @extend .st-icon;
  background-color:$block-controls-color;
  position:relative;
  box-sizing:border-box;
  padding:.2em;
  display:block;
  color:#fff;
  font-size:0.8em;
  float:left;

  transform:translateZ(0);

  .st-block-addition:hover &,
  .st-block--active & {
    background-color:$accent-color;
  }

  .st-block--active & {
    transform: rotate(45deg);
  }
}

%st-psuedo-shape {
  content:"";
  display:block;
  position: absolute;
}

.st-block-addition__button:after {
  @extend %st-psuedo-shape;
  transition: all $animation-speed ease-in-out;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .4em 0 .4em .6em;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(148, 148, 148, 1);
  top: 50%;
  right:-.3em;
  z-index:-1;

  .st-block-addition:hover & {
    border-left-color:$accent-color;
  }

  .st-block--active & {
    border:0;
  }
}

.st-block-addition:before {
  @extend %st-psuedo-shape;
  transition: all $animation-speed ease-in-out;
  height:1px;
  width:100%;
  background-color:$block-controls-color;
  padding-right:1.1em;
  opacity:.2;
  top:50%;
  transform:translateY(-50%);
}

.st-block-addition:hover:before,
.st-block--active .st-block-addition:before {
  height:2px;
  opacity:1;
}

.st-block-addition:hover:before {
  background-color:$accent-color;
}

.st-block-controls {
  background-color: $blocks-control-bg-color;
  border-radius: 0.2em;
  color: $base-ui-color;
  width: 100%;
  text-align: center;
  padding: 1.2em 0;
  font-size:0.8em;
  border-bottom::2px solid $block-controls-color;
}

.st-block-controls__button {
  border:none;
  background:transparent;
  font-size: 1.125em;
  display: inline-block;
  cursor: pointer;
  margin: 0 1em 0 0;
}

.st-block-controls__button .st-icon {
  font-size: 2.25em;
  margin: 0 0 .2em 0;
  display: block;
}

.st-block-controls__button:hover {
  color: $accent-color;
}
