.st-block__ui,
.st-block__ui-delete-controls {
  position: absolute;
  bottom: 0;  right: 0;
  opacity: 0;
}

.st-block__control-ui {
  position: absolute;
  bottom: 0; left: 0;
  opacity: 0;
}

.st-block__inner:hover .st-block__ui,
.st-block__inner:hover .st-block__control-ui {
  opacity: 1;
}

.st-block-ui-btn {
  display: block;
  float: left;
  width: 3em; height: 2.5em;
  line-height: 2.5em;
  font-size: 1.4em;
  color: $accent-color;
  background: #fff;
  text-align: center;
  border: 2px solid $accent-color;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.st-block-control-ui-btn {
  @extend .st-block-ui-btn;
  width: 2em; height: 1.75em;
  font-size: 1.5em;
  line-height: 1.25em;
  height: 1.25em;
  border: 2px solid $accent-color;
  border-left: 0;
  border-bottom: 0;
}

.st-block--with-errors .st-block-ui-btn ,
.st-block--delete-active .st-block-ui-btn {
  color: $error-color;
  border-color: $error-color;
}

.st-block-ui-btn:hover,
.st-block-control-ui-btn:hover {
  color: #fff;
  background: $accent-color;
}

.st-block--with-errors .st-block-ui-btn:hover,
.st-block--delete-active .st-block-ui-btn:hover {
  background-color: $error-color;
}

.st-block--delete-active .st-block__ui-delete-controls {
  opacity: 1;
  z-index: 2;
}

.st-block__delete-label {
  display: block;
  border: 2px solid $error-color;
  border-bottom: none;
  border-right: none;
  text-align: center;
  background: #fff;
  color: $error-color;
  padding: 0.4em 0;
}
