.st-errors {
  background-color: lighten($error-color, 52%);
  padding: 2em;
  color: $error-color;
}

.st-errors p,
.st-errors ul {
  margin: 0;
}

.st-errors ul {
  padding-left: 1em;
}

.st-errors p {
  margin-bottom: 0.5em;
  font-weight: 700;
}

