.st-format-bar {
  top: 0;
  position: absolute;
  margin: -4.5em 0 0 0;
  background: #252525;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  border-radius: 0.4em;
  padding: 0;

  transition: opacity 0.2s ease-in-out;
}

.st-format-bar:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 3.2em;
  width: 0;
  height: 0;
  border-left: 0.875em solid transparent;
  border-right: 0.875em solid transparent;
  border-top: 0.875em solid #252525;
  margin-left: -0.875em;
}

.st-format-bar--is-ready {
  visibility: visible;
  opacity: 1;
}

.st-format-btn {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 0.5em 0.6em;
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
}

.st-format-btn--Heading,
.st-format-btn--Quote {
  border-left: 1px solid #3e4245;
  font-size: 1.5em;
}

.st-format-btn--Heading {
  font-weight: bold;
  span {
    font-size: 0.75em;
  }
}

.st-format-btn:hover,
.st-format-btn--is-active {
  color:$accent-color;
}

.st-format-btn--Bold {
  font-size: 1.5em;
  font-weight:bold;
}

.st-format-btn--Italic {
  font-size: 1.5em;
  font-style:italic;
}

.st-format-btn--Unlink {
  text-decoration: line-through;
}
