.st-format-bar {
  position: absolute;
  margin: -3em 0 0 0;
  background: #4d5358;
  opacity: 0; visibility: hidden;
  z-index: 10;
  border-radius: 0.4em;
  padding: 0.5em 0.9em;

  @include transition(opacity 0.2s ease-in-out);
}

.st-format-bar:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%; top: 2.12em;
  width: 0; height: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-top: 0.625em solid #4d5358;
  margin-left: -0.625em;
}

.st-format-bar--is-ready {
  visibility: visible;
  opacity: 1;
}

.st-format-btn {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 0 0.6em 0 0;
  margin: 0 0.6em 0 0;
  font-size: 1em;
  vertical-align: middle;
  border-right: 1px solid #3e4245;
}

.st-format-btn:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.st-format-btn:hover,
.st-format-btn--is-active {
  color:$accent-color;
}

.st-format-btn--Italic {
  font-style:italic;
}

.st-format-btn--Unlink {
  text-decoration: line-through;
}