.st-format-bar {
  position: absolute;
  margin: -55px 0 0 0;
  background: #4d5358;
  opacity: 0; visibility: hidden;
  z-index: 10;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;

  @include transition(opacity 0.2s ease-in-out);
}

.st-format-bar:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%; top: 36px;
  width: 0; height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #4d5358;
  margin-left: -10px;
}

.st-format-bar--is-ready {
  visibility: visible;
  opacity: 1;
}

.st-format-btn {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 5px;
  vertical-align: middle;
}

.st-format-btn:hover {
  color:$accent-color;
}

.st-format-btn--Italic {
  font-style:italic;
}

.st-format-btn--Underline {
  text-decoration:underline;
}

.st-format-btn--Unlink {
  text-decoration: line-through;
}