// Reset all our input styles
.st-input-label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 13px;
  text-transform: uppercase;
}

// Generic styles
@mixin st-input {
  font-size: inherit;
  margin: 0;
}

.st-block input[type="text"],
.st-block textarea {
  @include st-input;
}

// Focus / Active styles
@mixin st-input-active {
  outline: none;
  border: none;
}

@mixin st-input-styled {
  color: $base-ui-color;
  border: 0.1em solid #d4d4d4;
  padding: 0.6em;
}

.st-block [contenteditable="true"],
.st-block [contenteditable="true"]:active,
.st-block [contenteditable="true"]:focus,
.st-block input[type="text"],
.st-block input[type="text"]:active,
.st-block input[type="text"]:focus,
.st-block textarea,
.st-block textarea:hover,
.st-block textarea:active {
  @include st-input-active;
}

.st-block input[type="text"],
.st-block input[type="text"]:active,
.st-block input[type="text"]:focus {
  @include st-input-styled;
}

// Generic styles
@mixin st-btn-hover {
  background: $accent-color;
  color: #fff;
}

@mixin st-btn {
  border: 0;
  background: $base-ui-color;
  border-radius: 0.2em;
  padding: 0.35em 1em;
  font-size: 1.125em;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 10;

  &:hover {
    @include st-btn-hover;
  }
}

.st-block__upload-container:hover .st-upload-btn {
  background: $accent-color;
  color: #fff;
}
