
.st-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.st-modal__container {
  background-color: #fff;
  padding: 30px;
  min-width: 360px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.st-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st-modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: $accent-color;
  box-sizing: border-box;
}

.st-modal__close {
  background: transparent;
  border: 0;
}

.st-modal__header .st-modal__close:before {
  content: "\2715";
}

.st-modal__content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.st-modal__btn {
  @include st-btn;
  font-size: 1em;
}


// ===== Inputs ====== //
.st-modal__container label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.st-modal__container input:not([type="checkbox"]) {
  @include st-input;
  @include st-input-active;
  @include st-input-styled;
  display: block;
  box-sizing: border-box;
  width: 100%;
}


// ===== Demo Animation Style ===== //
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.st-micromodal-slide {
  display: none;
}

.st-micromodal-slide.is-open {
  display: block;
}

.st-micromodal-slide[aria-hidden="false"] .st-modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.st-micromodal-slide[aria-hidden="false"] .st-modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.st-micromodal-slide[aria-hidden="true"] .st-modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.st-micromodal-slide[aria-hidden="true"] .st-modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.st-micromodal-slide .st-modal__container,
.st-micromodal-slide .st-modal__overlay {
  will-change: transform;
}
