language: node_js
sudo: false
node_js:
- 0.10.33
branches:
  only:
  - master
  - next
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
cache:
  directories:
    - node_modules