<div class='st-block__ui-delete-controls'>
  <label class='st-block__delete-label'>
  <%= i18n.t('general:delete') %>
  </label>
  <a class='st-block-ui-btn st-block-ui-btn--confirm-delete st-icon' data-icon='tick'></a>
  <a class='st-block-ui-btn st-block-ui-btn--deny-delete st-icon' data-icon='close'></a>
</div>
