.site-logo {
  display: inline-block;
  margin: px-to-em(20px) 0;
  padding-left: 1.25em;
  font-size: px-to-em(28px);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  position: relative;

  &:before {
    color: $accent-color;
    position: absolute;
    left: 0; top: .15em;
  }

  &:hover {
    color: $accent-color;
  }

  @include breakpoint($small-break) {
    padding-left: 1.1em;
  }
}

.site-header__info-container {
  padding: px-to-em(20px) 0;
  position: relative;
}

.site-header__video {
  position: absolute;
  bottom: 0;
  right: 0;

  @include breakpoint(px-to-em(1400px)) {
    display: none;
  }
}

.site-nav {
  margin: 1.75em 0 0 0;
  float: right;
}

.site-nav__items {
  margin: 0; padding: 0;
  list-style: none;
}

.site-nav__item {
  margin-left: 1.5em;
  float: left;

  a {
    color: $accent-color;
    text-decoration: none;
  }

  @include breakpoint($small-break) {
    margin-left: .5em;
  }
}