$base-font-size: 20px;

@function px-to-em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

$large-break: px-to-em(960px);
$medium-break: px-to-em(760px);
$small-break: px-to-em(480px);

$accent-color: #34E0C2;
$dark-grey: #42474B;

@mixin breakpoint($point) {
  @media (max-width: $point) { @content; }
}

@function grid-calc($n, $g: 12) {
  @return ($n / $g) * 100%;
}

@for $i from 1 through 12 {
  %grid-#{$i}-of-12 {
    @extend %grid;
    width: grid-calc($i);
  }
}

%grid {
  float: left;
}

%grid-half {
  @extend %grid;
  width: 50%;

  @include breakpoint($medium-break) {
    float: none;
    width: auto;
  }
}

%grid-five {
  @extend %grid;
  width: grid-calc(3,15);

  @include breakpoint($medium-break) {
    width: grid-calc(4);
  }
}

%grid-one-third {
  @extend %grid;
  width: grid-calc(4);

  @include breakpoint($medium-break) {
    float: none;
    width: auto;
  }
}

%grid-two-thirds {
  @extend %grid;
  width: grid-calc(8);

  @include breakpoint($medium-break) {
    float: none;
    width: auto;
  }
}

p a,
li a {
  color: $accent-color;
}