---
title: Blank | Sir Trevor JS | Made by Many
layout: example
---

<%= partial "partials/header" %>

<section class="site-width example-container">
  <form>
    <textarea class="js-sir-trevor-instance"></textarea>
  </form>
</section>

<%= partial "partials/footer" %>