---
title: Docs | Sir Trevor JS | Made by Many
---

<%= partial "partials/header" %>

<div class="site-width">
  <aside class="docs__sidebar">
    <nav class="docs__navigation">

      <ul>
        <li>
          <a href="#1">Getting Started</a>

          <ul>
            <li><a href="#1-1">Installation</a></li>
            <li><a href="#1-2">Initialising</a></li>
          </ul>
        </li>

        <li>
          <a href="#2">Editor</a>

          <ul>
            <li><a href="#2-1">Options</a></li>
            <li><a href="#2-2">Global options</a></li>
          </ul>
        </li>

        <li>
          <a href="#2">Blocks</a>

          <ul>
            <li><a href="#2-1">Options</a></li>
            <li><a href="#2-1">Tweet Block</a></li>
            <li><a href="#2-1">Events</a></li>
          </ul>
        </li>

        <li>
          <a href="#2">Custom Blocks</a>

          <ul>
            <li><a href="#2-1">Concepts</a></li>
            <li><a href="#2-1">Validations</a></li>
            <li><a href="#2-1">Validations</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <section class="docs__content">

    <%= partial "partials/docs/1" %>

  </section>
</div>