---
title: Example | Sir Trevor JS | Made by Many
layout: example
---

<%= partial "partials/header" %>

<section class="site-width example-container">
  <form>
    <textarea class="js-sir-trevor-instance">{"data":[{"type":"text","data":{"text":"<p>Hello, I'm <b>Sir Trevor</b>.</p>","format":"html"}},{"type":"text","data":{"text":"<p>Create some new blocks and see <i>what I can do</i>.</p>","format":"html"}},{"type":"video","data":{"source":"youtube","remote_id":"hcFLFpmc4Pg"}}]}</textarea>
  </form>
</section>

<%= partial "partials/footer" %>