---
title: Example | Sir Trevor JS | Made by Many
layout: example
---

<%= partial "partials/header" %>

<section class="site-width example-container">
  <form>
    <textarea class="js-sir-trevor-instance">{"data":[{"type":"text","data":{"text":"Hello, I'm **Sir Trevor**.\nCreate some new blocks and see _what I can do_.\n"}},{"type":"video","data":{"source":"youtube","remote_id":"hcFLFpmc4Pg"}}]}</textarea>
  </form>
</section>

<%= partial "partials/footer" %>