---
title: Sir Trevor JS | Made by Many
---

<header class="site-header dark-bg">
  <div class="site-header__inner site-width">

    <a href="/" class="site-logo">
      <span class="st-icon">add</span>
      Sir Trevor
    </a>

    <%
      lines =
        ["I'm a content agnostic editor built on the principle of blocks of content",
         "I'm used on the ITV News website and soon to be powering ITV.com",
         "And finally... I'm easy to extend and customise."]
    %>

    <div class="typer">
      <h1 class="intro">Good evening. I'm Sir Trevor.</h1>

      <% content_tag(:h1, "", class: "intro typer-text") do %>
        <%= content_tag :span, '', class: "typer-target",
                                   data: { "typer-targets" =>
                                      { targets: lines }.to_json } %>
      <% end %>

      <% lines.each do |line| %>
        <h1 class="visuallyhidden intro"><%= line %></h1>
      <% end %>
    </div>

    <div class="site-header__info-container cf">

      <div class="site-header__intro">
        <p class="intro-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

        <a href="https://github.com/madebymany/sir-trevor-js/archive/master.zip" class="btn btn--primary">Download</a>
        <a href="https://github.com/madebymany/sir-trevor-js" class="btn">Fork it</a>
      </div>

      <div class="site-header__video">
        <div class="example-video"></div>
      </div>

    </div>

  </div>
</header>

<section class="block block--features">

  <h2>Features</h2>

  <ul class="features cf">
    <li class="feature" data-icon="add">Feature #1</li>
    <li class="feature" data-icon="add">Feature #2</li>
    <li class="feature" data-icon="add">Feature #3</li>
    <li class="feature" data-icon="add">Feature #4</li>
  </ul>

</section>

<section class="block block--block-types">

  <h2 class="with-divider">Block types</h2>
  <p>The editor itself is made up of Blocks. The default ones are:</p>

  <ul class="block-types">

    <li class="block-type">
      <span class="st-icon">text</span>
      Text
    </li>

    <li class="block-type">
      <span class="st-icon">image</span>
      Image
    </li>

    <li class="block-type">
      <span class="st-icon">quote</span>
      Quote
    </li>

    <li class="block-type">
      <span class="st-icon">list</span>
      List
    </li>

    <li class="block-type">
      <span class="st-icon">twitter</span>
      Tweet
    </li>

    <li class="block-type">
      <span class="st-icon">add</span>
      Many more
    </li>

  </ul>

  <p>There are more blocks available in the dedicated <a href="https://github.com/madebymany/sir-trevor-blocks">blocks repository</a> or it's incredibly easy to write your own.</p>
</section>

<section class="block block--more-info">

  <div class="cf">
    <div class="more-info__copy">
      <p class="larger">For more information on Sir Trevor JS check out the repository at <a href="http://github.com/madebymany/sir-trevor-js">github.com/madebymany/sir-trevor-js</a></p>
    </div>

    <div class="more-info__ctas">
      <a href="https://github.com/madebymany/sir-trevor-js/archive/master.zip" class="btn btn--primary">Download</a>
      <a href="https://github.com/madebymany/sir-trevor-js" class="btn btn--secondary">Fork it</a>
    </div>
  </div>

</section>

<footer class="site-footer dark-bg">
  <div class="site-footer__inner site-width">

    <span class="footer_intro">Brought to you by:</span>

    <ul class="footer__meta-items">
      <li class="footer__meta-item"><a href="http://itv.com" class="logo logo--itv">ITV</a></li>
      <li class="footer__meta-item"><a href="http://madebymany.com" class="logo logo--mxm">Made by Many</a></li>
    </ul>

    <span class="footer_license">Sir Trevor JS is released under the MIT license</span>
  </div>
</footer>