---
title: How to set up image uploading | Docs | Sir Trevor JS | Made by Many
---

<%= partial "partials/header" %>

<div class="site-width docs">
  <%= partial "partials/docs/nav" %>

  <section class="docs__content">
  <%= partial "partials/docs/uploads" %>
  </section>
</div>

<%= partial "partials/footer" %>
