<footer class="site-footer dark-bg">
  <div class="site-footer__inner site-width">

    <span class="footer_intro">Brought to you by:</span>

    <ul class="footer__meta-items">
      <li class="footer__meta-item"><a href="http://itv.com" class="logo logo--itv">ITV</a></li>
      <li class="footer__meta-item"><a href="http://madebymany.com" class="logo logo--mxm">Made by Many</a></li>
    </ul>

    <span class="footer_license">Sir Trevor JS is released under the MIT license</span>
  </div>
</footer>