<header class="site-header dark-bg">
  <div class="site-header__inner site-width">

    <%= link_to "Sir Trevor", "/index.html",
                class: "site-logo", data: { icon: "add" } %>

    <nav class="site-nav">
      <ul class="site-nav__items">
        <li class="site-nav__item">
          <%= link_to "Github", "https://github.com/madebymany/sir-trevor-js" %>
        </li>
        <li class="site-nav__item">
          <%= link_to "Docs", "/docs.html" %>
        </li>
        <li class="site-nav__item">
          <%= link_to "Example", "/example.html" %>
        </li>
      </ul>
    </nav>

  </div>
</header>